*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body{
    background-color: white;
}

.couleur_fond{
    width: 35%; /* Un tiers de la largeur de l'écran */
    height: 100%; /* Prend toute la hauteur de la fenêtre */
    background-color: royalblue; /* Couleur de fond souhaitée */
    position: fixed; /* Fixe le div sur le côté droit */
    right: 0; /* Positionne à droite */
    top: 0;
    z-index: -1; /* Met la section derrière les autres éléments */
}

.couleur_fond2{
    width: 100%; /* Un tiers de la largeur de l'écran */
    height: 100%; /* Prend toute la hauteur de la fenêtre */
    background-color: rgb(66, 145, 248); /* Couleur de fond souhaitée */
    position: fixed; /* Fixe le div sur le côté droit */
    right: 0; /* Positionne à droite */
    top: 0;
    z-index: -1; /* Met la section derrière les autres éléments */
}

nav{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 15px;         /* Espace à l'intérieur du rectangle */
    box-shadow: 0px 2px 5px transparent;
    background-color: whitesmoke;
    position: relative;
}

.navbar li{
    list-style-type: none;
    flex-grow: 0;
}

a{
    text-decoration: none;
    color: black;
    text-align: center;
}

.navbar a:hover{
    color: black;
    text-decoration: underline;
}

.dropdown-content {
    display: none; /* Cacher les sous-liens */
    position: absolute;
    background-color: whitesmoke;
    min-width: 150px;
}

.dropdown-content li {
    margin: 0;
}

.dropdown-content li a {
    display: block;
    padding: 10px;
    background-color: whitesmoke;
    color: black;
}

.dropdown:hover .dropdown-content{
    display: block; /* Afficher les sous-liens au survol */
}

.présentation{
    display: flex;
    margin-top: 4%;
}

.présentation_gauche{
    display: flex;
    text-align: center;
    margin-left: 19.5%;
    margin-top: 12%;
    width: 30%;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.hi{
    font-family: "Bubblegum Sans", sans-serif;
    font-size: 6vw;
}

.me{
    font-family: "Fuzzy Bubbles", sans-serif;
    font-size: 1.3vw;
}

.présentation_droite{
    margin-left: 1%;
    display: flex;
    text-align: center;
    width: 30%;
    flex-direction: column;
    align-items: center;
    background-color: rgb(66, 145, 248);
}

.monImage {
    margin-top: 3%;
    border-radius: 10%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 60%;
    height: auto
}

.nom{
    margin-top: 5%;
    color: black;
    font-family: "Sixtyfour", sans-serif;
    font-size: 3vw;
}

.sep{
    border: black;
    width: 20%;
    height: 3px;
    background-color: black;
    margin: 20px 0; /* Espace autour du trait */
}

.etude{
    font-size: 1.5vw;
    font-weight: lighter;
}

.ecole{
    text-decoration: underline;
}

.bouton{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 20%;
    margin-bottom: 3%;
    position: relative;
}

.BDLG{
    background-color: rgb(143, 221, 254); /* couleur initiale */
    color: black;
    padding: 10px 20px;
    border: 2px solid black;
    cursor: pointer;
    white-space: nowrap;
}

.BDLG:hover{
    color: black;
    background-color: rgb(250, 87, 87);
}

.BDLD{
    background-color: rgb(143, 221, 254); /* couleur initiale */
    color: black;
    padding: 10px 20px;
    border: 2px solid black;
    cursor: pointer;
    white-space: nowrap;
}

.BDLD:hover{
    color: black;
    background-color: rgb(250, 87, 87);
}

.fontCV{
    font-family: "Dancing Script", cursive;
    font-size: 1.1vw;
}

iframe{
    margin-top: 5vw;
    margin-left: 35vw;
    width: 30vw; /* 80% de la largeur de la fenêtre */
    height: calc(30vw * 9 / 16); /* Maintient le ratio 16:9 */
}

.footer{
    margin-top: auto;
    top: 1vw;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border: 10px;
    padding: 15px;         /* Espace à l'intérieur du rectangle */
    box-shadow: 0px 2px 5px transparent;
    background-color: whitesmoke;
    position: relative;
    white-space: nowrap;
}

.footer2{
    top: 7vw;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border: 10px;
    padding: 15px;         /* Espace à l'intérieur du rectangle */
    box-shadow: 0px 2px 5px transparent;
    background-color: whitesmoke;
    position: relative;
    white-space: nowrap;
}

.gauche{
    display: flex;
    gap: 20%;
    justify-content: space-between;
    margin-left: 2%;
}

.prout{
    list-style-type: none;
}

.droite {
    display: flex;
    gap: 10%; /* Ajustement de l'espacement */
    justify-items: center;
    justify-content: center;
    justify-content: space-between;
    text-align: center;
    padding: 0 5vw; /* Ajout de padding pour éviter le débordement */
    flex-wrap: wrap; /* Permet aux éléments de se déplacer à la ligne */
}

.droite1, .droite2, .droite3 {
    flex: 1; /* Ajustement flexible */
    min-width: 100px; /* Largeur minimale pour éviter l'empilement */
}

@media (max-width: 768px) {
    .gauche{
        flex-direction: column; /* Empile les éléments sur petits écrans */
        align-items: center; /* Centre les éléments */
    }
    .droite {
        flex-direction: column; /* Empile les éléments sur petits écrans */
        align-items: center; /* Centre les éléments */
    }
}

.droite li{
    list-style-type: none;
}

.gauche a:hover{
    color: black;
    text-decoration: underline;
}

.texte{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    align-content: center;
    text-align: left;
    left: 30%;
    width: 40%;
    height: auto;
    top: 100px;
    position: relative;
}

.texte h1{
    font-family:"Fuzzy Bubbles", sans-serif ;
}

.texte p{
    font-family:"Fuzzy Bubbles", sans-serif ;
}

.texte li{
    font-family:"Fuzzy Bubbles", sans-serif ;
}

.texte a{
    text-decoration: underline;
    font-family:"Fuzzy Bubbles", sans-serif ;
}

.texte2{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: left;
    left: 30%;
    width: 40%;
    height: auto;
    top: 120px;
    position: relative;
}

.texte2 p{
    font-family:"Fuzzy Bubbles", sans-serif ;
}

.texte3{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: left;
    align-content: center;
    text-align: left;
    left: 30%;
    width: 40%;
    height: auto;
    top: 100px;
    position: relative;
}

.texte3 h1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    align-content: center;
    text-align: center;
    left: 30%;
    width: 40%;
    height: auto;
    position: relative;
    font-family:"Fuzzy Bubbles", sans-serif ;
}

.texte3 h2{
    font-family:"Fuzzy Bubbles", sans-serif ;
}

.texte3 p{
    font-family:"Fuzzy Bubbles", sans-serif ;
}

.texte3 a{
    text-decoration: underline;
    font-family:"Fuzzy Bubbles", sans-serif ;
}

.texte4{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: left;
    align-content: center;
    text-align: left;
    left: 30%;
    width: 40%;
    height: auto;
    top: 100px;
    position: relative;
}

.texte4 h1{
    text-align: center;
    font-family:"Fuzzy Bubbles", sans-serif ;
}

.texte4 ul li{
    left: 2vw;
    position: relative;
    font-family:"Fuzzy Bubbles", sans-serif ;
}

.texte4 p{
    font-family:"Fuzzy Bubbles", sans-serif ;
}

.texte4 a{
    text-decoration: underline;
    font-family:"Fuzzy Bubbles", sans-serif ;
}

.texte5{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: left;
    align-content: center;
    text-align: left;
    left: 30%;
    width: 40%;
    height: auto;
    top: 100px;
    position: relative;
}

.texte5 h1{
    text-align: center;
    font-family:"Fuzzy Bubbles", sans-serif ;
}

.texte5 p{
    font-family:"Fuzzy Bubbles", sans-serif ;
}

.texte5 a{
    text-decoration: underline;
    font-family:"Fuzzy Bubbles", sans-serif ;
}

.titre{
    display: flex;
    background-color: royalblue;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 6vw;
    position: relative;
}

.titre p{
    display: flex;
    align-items: center;
    align-content: center;
    top: 30px;
    color: black;
    font-family: "Sixtyfour", sans-serif;
    font-size: 6vw;
    position: relative;
}

.semester{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: left;
    position: relative;
    gap: 3vw;
    top: 2vw;
    font-size: 2vw;
    width: 80%;
}

.semester p{
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 64%;
    left: 3vw;
    font-family: "Fuzzy Bubbles", sans-serif;
    font-size: 1.4vw;
    position: relative;
    left: 10vw
}

.semester h2{
    font-family: "Bubblegum Sans", sans-serif;
    position: relative;
    bottom: 1.2vw;
}

.semester ul{
    display: flex;
    flex-direction: column;
    gap: 1.2vw;
    font-size: 1.3vw;
}

.semester li{
    position: relative;
    left: 4vw;
}

.contenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 2vw;
}

.londres{
    display: flex;
    flex-direction: row;
    align-content: center;
    position: relative;
    margin-left: 9vw;
    gap: 2%;
}

.contenu img{
    width: 40%;
    height: auto;
    border-radius: 12%;
}

.contenu div div{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    position: relative;
}

.contenu h1{
    font-family: "Fuzzy Bubbles", sans-serif;
}

.contenu p{
    font-family: "Fuzzy Bubbles", sans-serif;
    font-size: 1.4vw;
}